@import 'src/assets/styles/variables.scss';
nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $base-color;
    position: relative;
    z-index: 500;
}

.app-title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    margin: 10px;
}

.background-dark {
    background: #000000c2;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    span {
        font-size: 30px;
        color: #fff;
    }
}

.side-bar-content {
    width: 85%;
    margin: 20px auto;

    h4 {
        color: #758DFF;
        font-size: 19px;
        margin-left: 12px;
        margin-bottom: 14px;
    }
}

.side-bar {
    background-color: $base-color-darker;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 350px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.side-bar-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    padding: 10px 10px;
}

.side-bar-item:hover {
    background-color: $base-color-dark;
    border-radius: 5px;
    cursor: pointer;
}

#show {
    transform: translateX(0);
}

@media screen and (min-width: 600px) {
    .side-bar {
        width: 25vw;
    }
    
}