@import 'src/assets/styles/variables.scss';
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.login-title {
  margin-top: 130px;
}

.form-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 10px auto;
  background: linear-gradient(to right, $base-color, $base-color-light);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.width-100 {
  margin: 10px 0px;
}

button {
  width: 100%;
  height: 40px;
  background-color: $base-color-darker;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 25px 0px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

button:hover {
  filter: brightness(0.8);
}

p {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 50vw;

  }
}