<h4>Convertir</h4>
<div class="convertidor-container">
  <form autocomplete="off">
    <p *ngIf="subscriptionName != 'Pro'" class="conversions-text">{{convertionsRemains}} conversion/es restantes.</p>
    <div class="selector-form selector-form--first">
      <select
        [disabled]="!convertionsRemains && subscriptionName != 'Pro'"
        [(ngModel)]="currencyFrom"
        name="currencies-symbol-from"
        class="currency-selector">
        <option value>Moneda que va a convertir</option>
        <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.symbol}}</option>
      </select>
      <input-editor
        [editable]="convertionsRemains > 0 || subscriptionName == 'Pro'"
        placeholder="Valor"
        type="number"
        [(inputValue)]="currencyValueFrom"></input-editor>
    </div>
    <div class="swap-button-container">
      <button
        [disabled]="!convertionsRemains && subscriptionName != 'Pro'"
        (click)="swapSymbols()"
        type="button"><span id="swap-icon"
          class="material-symbols-outlined">
          swap_horiz
        </span></button>
    </div>
    <div class="selector-form">
      <select
        [disabled]="!convertionsRemains && subscriptionName != 'Pro'"
        [(ngModel)]="currencyTo"
        name="currencies-symbol-to"
        class="currency-selector">
        <option value>Moneda a convertir</option>
        <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.symbol}}</option>
      </select>
    </div>
    <div class="convert-wrapper">
      <button
        (click)="convertCurrency()"
        [disabled]="!convertionsRemains && subscriptionName != 'Pro'"
        class="convert-button">Convertir</button>
    </div>
  </form>
  <div class="result-container">
    <p>Resultado</p>
    <div class="result-text">
      <ng-container *ngIf="currencyResult">
        {{currencyResult | currency}} {{currencyResultSymbol.symbol}}
      </ng-container>
    </div>
  </div>
</div>