@import 'src/assets/styles/variables.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 15px;
  color: #fff;
  box-sizing: border-box;
  background-color: $base-color-darker;
}

p {
  font-size: 12px;
  text-align: center;
}

p:last-child {
  font-size: 10px;
  color: #ccc;
}